@page "/"

<h2>Velkommen til Blazor Finans</h2>
<p>Dette site giver mulighed for forskellige finansielle beregninger, og har til formål at give forskellige eksempler på brug af både Blazor Server og Blazor ASM.</p>
<p>Find kode med videre på <a href="https://github.com/devcronberg/blazorfinans">https://github.com/devcronberg/blazorfinans</a>.</p>

