@inherits LayoutComponentBase

<div class="menu">
    [<NavLink class="nav-link" href="" Match="NavLinkMatch.All">Forside</NavLink>]

    [<NavLink class="nav-link" href="BeregnYdelse">Beregn ydelse</NavLink>]

    [<NavLink class="nav-link" href="BeregnDage">Beregn dage</NavLink>]

    [<NavLink class="nav-link" href="MindsteRente">Mindste rente</NavLink>]
</div>

<div>
    @Body
</div>
