@inherits LayoutComponentBase

<div class="menu">
    [<NavLink class="nav-link" href="" Match="NavLinkMatch.All">Forside</NavLink>]
    [<NavLink class="nav-link" href="BeregnYdelse">Beregn ydelse</NavLink>]
    [<NavLink class="nav-link" href="MoraRenter">Morarenter</NavLink>]
</div>

<div>
    @Body
</div>
