@inherits LayoutComponentBase

<div class="menu">
    [<NavLink class="nav-link" href="" Match="NavLinkMatch.All">Forside</NavLink>]
    [<NavLink class="nav-link" href="BeregnYdelse">Beregn ydelse (C#)</NavLink>]
    [<NavLink class="nav-link" href="BeregnYdelseJS">Beregn ydelse (JS)</NavLink>]
    [<NavLink class="nav-link" href="BeregnYdelseDelt">Beregn ydelse (Delt)</NavLink>]
    [<NavLink class="nav-link" href="MoraRenter">Morarenter (table)</NavLink>]
    [<NavLink class="nav-link" href="MoraRenterKomponent">Morarenter (komponent)</NavLink>]
</div>

<div>
    @Body
</div>
